body {
  background-image: url("../img/pizzaplanet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Audiowide', cursive;
  text-align: center;
}

.col-xs-12 {
  height: 200px;
  background-color: rgb(51,51,51);
  opacity: .8;
  text-align: center;
}
#hideHeader {
  font-family: 'Audiowide', cursive;
  color: rgb(104,183,81);
  font-size: 100px;
  display: none;
  text-shadow: 5px 5px white;
}
h3 {
  font-family: 'Audiowide', cursive;
  margin: 40px;
  border-bottom: 2px solid red;
}
.underHeader {
  font-family: 'Audiowide', cursive;
  border-bottom: 2px solid red;
}

.rocket {
  background-image: url("../img/rotaterockets.gif");
  background-size: cover;
  height: 190px;
  width: 300px;
  opacity: 1;
}
.secondRow {
  margin-top: 50px;
}
.col-xs-6 {
  color: black;
  border: 5px solid white;
  height: 500px;
  background-color: white;
  opacity: .8;
  border-radius: 20px;
}
.hideForm {
  display: none;
}
#small {
  color: white;
  height: 150px;
  background: white;
  border-radius: 100%;
  margin: 20px;
}

  #medium {
    color: white;
    height: 175px;
    background: white;
    border-radius: 100%;
    margin: 20px;
  }
  #large {
    color: white;
    height: 200px;
    background: white;
    border-radius: 100%;
    margin: 20px;
  }

  #landed {
    display: none;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 100px;
    color: black;
    text-shadow: 5px 5px rgb(104,183,81);
  }
  #pizzaHead {
    display: none;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 100px;
    color: black;
    text-shadow: 5px 5px rgb(104,183,81);
  }
  #toMenu {
    color: black;
    padding: 5px;
    opacity: none;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px solid black;

  }
  #colLeft {
    background-image: url("../img/buzzwood.gif");
    height: 300px;
    border: 2px solid white;
    border-radius: 100%;
    background-size: cover;
  }
  #colRight {
    background-image: url("../img/wackamole.gif");
    height: 300px;
    border: 2px solid white;
    border-radius: 100%;
}
.about {
  width: 375px;
  padding: 6px;
}
p {
  color: white;
  font-family: monospace;
  display: none;
}
#paragraphLeft {
  float: right;
}
