* {
  text-align: center;
}
body {
  background-color: black;
}

.container-fluid {
  height: 100%;
  width: inherit;;
  background-image: url("../img/pizzaplanet.jpg");
  background-size: 100% 100%;
  background-position: center;
  color: white;
}
h1 {
  font-size: 60px;
  font-family: 'Fascinate', cursive;
}
h3 {
  font-family: 'Fascinate', cursive;
  font-size: 28px;
  color: rgb(22,170,17);
}
.row {
  height: 400px;
}
.col-md-8 {

  width: 100%;

}

.form-group {
  border: 1px solid white;
  margin: 10px;

}
.col-md-6 {
  text-align: center;
  font-family: times;

}
#small {
  color: white;
  height: 150px;
  background: white;
  border-radius: 100%;
}

  #medium {
    color: white;
    height: 175px;
    background: white;
    border-radius: 100%;
  }
  #large {
    color: white;
    height: 200px;
    background: white;
    border-radius: 100%;
  }
  .col-md-12 {
    text-align: center;
  }
